@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('fonts/OpenSansCondensedBold.eot');
    src: url('fonts/OpenSansCondensedBold.eot') format('embedded-opentype'),
         url('fonts/OpenSansCondensedBold.woff2') format('woff2'),
         url('fonts/OpenSansCondensedBold.woff') format('woff'),
         url('fonts/OpenSansCondensedBold.ttf') format('truetype'),
         url('fonts/OpenSansCondensedBold.svg#OpenSansCondensedBold') format('svg');
}
